body{
    background-color:#e9f2f6
}

div[draggable="true"], [data-role="draggable"] {
    cursor: move;
}

 .over {
   background-color:#fff;
   border:1px dashed #999;
}
 .drag{
   opacity:0.25;
 }
