body {
 background-color:#0ff;
  
}
label{
    display:inline;
} 
label::after{
    content:'';
    display:block;
}
div[draggable="true"]{
    cursor:move;
}
.over{
    background-color:#fff;
    border:1px dashed #999;
}


































}