body


 input:valid {
 background: #fff;
}

input:invalid {
background: #fcc;
 color: #333;
}

.validation-messages {
margin-bottom:15px;
}

.validation-messages span {
font-size:0.8em;
background-color:#eee;
padding:6px;
border:1px solid #ccc;
border-radius:10px;
color:#666;
}

.hide {
display:none;
}